<?xml version="1.0"?>
<launch>
    <!--<node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true" >
                <param name="port" value="/dev/ttyUSB0"/>
				<param name="baud" value="115200"/>
    </node> -->

    <node pkg="firmware" type="comunicacao_xbee.py" name="comunicacao_xbee" output="screen" respawn="true" />
    <node pkg="firmware" type="Estados.py" name="Estados" output="screen" respawn="true" />
    <node pkg="firmware" type="Iluminacao.py" name="Iluminacao" output="screen" respawn="true" /> 
    
    <node pkg="firmware" type="Carregador.py" name="Carregador" output="screen" respawn="true" />
    <node pkg="firmware" type="Navegacao.py" name="Navegacao" output="screen" respawn="true" />
    <node pkg="firmware" type="Inicia_Scan.py" name="Inicia_Scan" output="screen" respawn="true"/>
    <node pkg="firmware" type="Inicia_Pose.py" name="Inicia_Pose" output="screen" respawn="true"/>
    <node pkg="firmware" type="Serial.py" name ="Serial" output="screen" respawn="true" /> 
    <node pkg="firmware" type="G1EA1800CV1.py" name ="G1EA1800CV1" output="screen" respawn="true" />
    <node pkg="firmware" type="Garfo.py" name ="Garfo" output="screen" respawn="true" />
    <node pkg="firmware" type="Direcao.py" name ="Direcao" output="screen" respawn="true" />
  

</launch>

